@use '../abstracts/mixins' as *;

button,
.btn {
@include button-base;
  &-primary {
    background-color: #6366f1;
    color: #eef2ff;
  }

  &-primary:hover {
    background-color: #4f46e5;
  }

  &-small {
    width: 40px;
    height: 40px;
    border-radius: 100%;
  }

  &-large {
    width: 100%;
    letter-spacing: 1px;
  }
}
