*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
font-family: 'Lato', sans-serif;
  height: 100dvh;
  width: 100dvw;
  max-width: 1600px;
  margin: 0 auto;
}

